# SQLite Database

In [31]:
import sqlite3

In [36]:
# Connect to the petsdb
conn = sqlite3.connect("petsdb")
cursor = conn.cursor()

In [41]:
# Create function to check if it is connected 
def check_connect(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except Exception as e:
        print(f"Error encountered: {e}")
        return False
print(check_connect(conn))

True

In [42]:
conn.close()

In [43]:
# Check if the connection is closed or not
print(check_connect(conn)) #database is closed

Error encountered: Cannot operate on a closed database.
False

In [45]:
# connect to the database
conn = sqlite3.connect("petsdb")
cursor = conn.cursor()

In [47]:
# Find the different age groups in the database
for ppl, age in conn.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

In [48]:
# the age group has the hightest number of people
for ppl, age in conn.execute(
    "SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("The highest number of people is {} and came from {} age group".format(ppl, age))
    break

The highest number of people is 5 and came from 73 age group

In [52]:
# Find the people do not have full name, which the last name is blank\
res = conn.execute("SELECT count(*) FROM persons WHERE last_name IS null")
for row in res:
    print("{} People do not have full name".format(row[0]))

60 People do not have full name

In [56]:
# Find how many people have more than one pet
res = conn.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} people has more than one pets".format(row[0]))

43 people has more than one pets

In [57]:
# Finf how many pets have received treatment
res = conn.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print("{} pets have received treatment".format(row[0]))

36 pets have received treatment

In [59]:
# Find how many pets have received treatment and the type of pet is known
res = conn.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null")
for row in res:
    print("{} pets have received treatment and the type is known".format(row[0]))

16 pets have received treatment and the type is known

In [60]:
# Find how many pets are from the city 'east port'
res = conn.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print("{} pets are from city called'east port'".format(row[0]))

49 pets are from city called'east port'

In [61]:
# Find how many pets are from city'east port' and received treatment
res = conn.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print("{} pets are from city called'east port' and received treatment".format(row[0]))

11 pets are from city called'east port' and received treatment